
/* Basic styles ----------------------------------------------------------- */
.extra_voting_forms input,
.extra_voting_forms label span { display: none; }

.has_negative_karma { display: inline; }

/* Visual feedback while a form is waiting submission */
.karma_sending { 
  opacity: 0.3;
  filter: alpha(opacity=30);
  width: 100%;
  height: 100%;
}


/* Form type 3 (Up / Down) ------------------------------------------------ */

/* Big */
.karma_3_big .karma_buttons label {
  display: block;
  float: left;
  width: 24px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center center;
}
.karma_3_big .karma_up_clicked_clickable,
.karma_3_big .karma_up_not_clicked_clickable,
.karma_3_big .karma_down_clicked_clickable,
.karma_3_big .karma_down_not_clicked_clickable { cursor: pointer; }

.karma_3_big .karma_up_clicked_not_clickable,
.karma_3_big .karma_up_not_clicked_not_clickable,
.karma_3_big .karma_down_clicked_not_clickable,
.karma_3_big .karma_down_not_clicked_not_clickable { cursor: default; }

.karma_3_big .karma_up_not_clicked_clickable { background-image: url("img/3_up_enabled_unclicked.gif"); margin-right: 2px; }
.karma_3_big .karma_up_clicked_clickable { background-image: url("img/3_up_enabled_clicked.gif"); margin-right: 2px; }
.karma_3_big .karma_up_not_clicked_not_clickable { background-image: url("img/3_up_disabled_unclicked.gif"); margin-right: 2px; }
.karma_3_big .karma_up_clicked_not_clickable { background-image: url("img/3_up_disabled_clicked.gif"); margin-right: 2px; }

.karma_3_big .karma_down_not_clicked_clickable { background-image: url("img/3_down_enabled_unclicked.gif"); }
.karma_3_big .karma_down_clicked_clickable { background-image: url("img/3_down_enabled_clicked.gif"); }
.karma_3_big .karma_down_not_clicked_not_clickable { background-image: url("img/3_down_disabled_unclicked.gif"); }
.karma_3_big .karma_down_clicked_not_clickable { background-image: url("img/3_down_disabled_clicked.gif"); }

/* Small */
.karma_3_small .karma_buttons {
  display: inline-block;
  display: -moz-inline-box;
  overflow: hidden;
  vertical-align: middle;
}
.karma_3_small .karma_buttons label {
  display: block;
  float: left;
  width: 24px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center center;
}

.karma_3_small .karma_up_clicked_clickable,
.karma_3_small .karma_up_not_clicked_clickable,
.karma_3_small .karma_down_clicked_clickable,
.karma_3_small .karma_down_not_clicked_clickable { cursor: pointer; }

.karma_3_small .karma_up_clicked_not_clickable,
.karma_3_small .karma_up_not_clicked_not_clickable,
.karma_3_small .karma_down_clicked_not_clickable,
.karma_3_small .karma_down_not_clicked_not_clickable { cursor: default; }

.karma_3_small .karma_up_not_clicked_clickable { background-image: url("img/3_up_enabled_unclicked.gif"); margin-right: 2px; }
.karma_3_small .karma_up_clicked_clickable { background-image: url("img/3_up_enabled_clicked.gif"); margin-right: 2px; }
.karma_3_small .karma_up_not_clicked_not_clickable { background-image: url("img/3_up_disabled_unclicked.gif"); margin-right: 2px; }
.karma_3_small .karma_up_clicked_not_clickable { background-image: url("img/3_up_disabled_clicked.gif"); margin-right: 2px; }

.karma_3_small .karma_down_not_clicked_clickable { background-image: url("img/3_down_enabled_unclicked.gif"); }
.karma_3_small .karma_down_clicked_clickable { background-image: url("img/3_down_enabled_clicked.gif"); }
.karma_3_small .karma_down_not_clicked_not_clickable { background-image: url("img/3_down_disabled_unclicked.gif"); }
.karma_3_small .karma_down_clicked_not_clickable { background-image: url("img/3_down_disabled_clicked.gif"); }


/* Form type 4 (Up only) -------------------------------------------------- */

/* Big */
.karma_4_big .karma_buttons label {
  display: block;
  float: left;
  width: 50px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center center;
}

.karma_4_big .karma_up_clicked_clickable,
.karma_4_big .karma_up_not_clicked_clickable { cursor: pointer; }
.karma_4_big .karma_up_clicked_not_clickable,
.karma_4_big .karma_up_not_clicked_not_clickable { cursor: default; }

.karma_4_big .karma_up_not_clicked_clickable { background-image: url("img/4_up_enabled_unclicked.gif"); }
.karma_4_big .karma_up_clicked_clickable { background-image: url("img/4_up_enabled_clicked.gif"); }
.karma_4_big .karma_up_not_clicked_not_clickable { background-image: url("img/4_up_disabled_unclicked.gif"); }
.karma_4_big .karma_up_clicked_not_clickable { background-image: url("img/4_up_disabled_clicked.gif"); }


/* Small */
.karma_4_small .karma_buttons {
  display: inline-block;
  display: -moz-inline-box;
  overflow: hidden;
  vertical-align: middle;
}
.karma_4_small .karma_buttons label {
  display: block;
  float: left;
  width: 50px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center center;
}
.karma_4_small .karma_up_clicked_clickable,
.karma_4_small .karma_up_not_clicked_clickable { cursor: pointer; }
.karma_4_small .karma_up_clicked_not_clickable,
.karma_4_small .karma_up_not_clicked_not_clickable { cursor: default; }

.karma_4_small .karma_up_not_clicked_clickable { background-image: url("img/4_up_enabled_unclicked.gif"); }
.karma_4_small .karma_up_clicked_clickable { background-image: url("img/4_up_enabled_clicked.gif"); }
.karma_4_small .karma_up_not_clicked_not_clickable { background-image: url("img/4_up_disabled_unclicked.gif"); }
.karma_4_small .karma_up_clicked_not_clickable { background-image: url("img/4_up_disabled_clicked.gif"); }