/* Base */
/* Visual feedback while a form is waiting submission. */
.karma_sending {
  opacity: 0.3;
  filter: alpha(opacity=30);
  width: 100%;
  height: 100%;
}

/* Nodes */
.karma_3_big input { display: none; }
.karma_3_big .karma_buttons {
  display: block;
  margin-top: 1px;
  height: 14px;
}
.karma_3_big .karma_buttons label {
  float: left;
  width: 25px;
  height: 14px;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: -1000em;
  cursor: pointer;
}
.karma_3_big .karma_buttons label.karma_up_not_clicked_not_clickable,
.karma_3_big .karma_buttons label.karma_up_clicked_not_clickable,
.karma_3_big .karma_buttons label.karma_down_not_clicked_not_clickable,
.karma_3_big .karma_buttons label.karma_down_clicked_not_clickable { cursor: default; }

.karma_3_big .karma_buttons label.karma_up_not_clicked_clickable { background-image: url("img/node_voteup_enabled_notclicked.gif"); }
.karma_3_big .karma_buttons label.karma_up_clicked_clickable { background-image: url("img/node_voteup_enabled_clicked.gif"); }
.karma_3_big .karma_buttons label.karma_up_not_clicked_not_clickable { background-image: url("img/node_voteup_disabled_notclicked.gif"); }
.karma_3_big .karma_buttons label.karma_up_clicked_not_clickable { background-image: url("img/node_voteup_disabled_clicked.gif"); }
.karma_3_big .karma_buttons label.karma_down_not_clicked_clickable { background-image: url("img/node_votedown_enabled_notclicked.gif"); }
.karma_3_big .karma_buttons label.karma_down_clicked_clickable { background-image: url("img/node_votedown_enabled_clicked.gif"); }
.karma_3_big .karma_buttons label.karma_down_not_clicked_not_clickable { background-image: url("img/node_votedown_disabled_notclicked.gif"); }
.karma_3_big .karma_buttons label.karma_down_clicked_not_clickable { background-image: url("img/node_votedown_disabled_clicked.gif"); }

.karma_3_big .karma_buttons label span { display: none; }

/* Comments */
.comment .karma_3_small input { display: none; }
.comment .karma_3_small .karma_buttons { overflow: hidden; }
.comment .karma_3_small .karma_buttons label {
  width: 18px;
  height: 18px;
  margin: 0;
  text-indent: -1000em;
  overflow: hidden;
  cursor: pointer;
}
.comment .karma_3_small .karma_buttons label.karma_up_not_clicked_clickable { background-image: url("img/comment_voteup_enabled_notclicked.gif"); }
.comment .karma_3_small .karma_buttons label.karma_up_clicked_clickable { background-image: url("img/comment_voteup_enabled_clicked.gif"); }
.comment .karma_3_small .karma_buttons label.karma_up_not_clicked_not_clickable { background-image: url("img/comment_voteup_disabled_notclicked.gif"); cursor: default; }
.comment .karma_3_small .karma_buttons label.karma_up_clicked_not_clickable { background-image: url("img/comment_voteup_disabled_clicked.gif"); cursor: default; }
.comment .karma_3_small .karma_buttons label.karma_down_not_clicked_clickable { background-image: url("img/comment_votedown_enabled_notclicked.gif"); }
.comment .karma_3_small .karma_buttons label.karma_down_clicked_clickable { background-image: url("img/comment_votedown_enabled_clicked.gif"); cursor: default; }
.comment .karma_3_small .karma_buttons label.karma_down_not_clicked_not_clickable { background-image: url("img/comment_votedown_disabled_notclicked.gif"); cursor: default; }
.comment .karma_3_small .karma_buttons label.karma_down_clicked_not_clickable { background-image: url("img/comment_votedown_disabled_clicked.gif"); cursor: default; }