/* Nodes */
.karma_3_big {
  display: block;
  width: 50px;
  float: left;
}
.karma_3_big .karma_score {
  display: block;
  width: 50px;
  height: 40px;
  line-height: 40px;
  font-size: 14pt;
  letter-spacing: -1px;
  text-align: center;
  background-position: top left;
  background-repeat: no-repeat;
}
.karma_3_big .karma_form .karma_score {
  background-image: url("img/node_scorebg_upcoming.gif");
  color: #fff;
  text-shadow: 0 -2px 0 rgba(0,0,0,0.5);
}
.karma_3_big .karma_form_promoted .karma_score {
  background-image: url("img/node_scorebg_published.gif");
  color: #630;
  text-shadow: 0 2px 0 #fff;
}
.karma_3_big .karma_buttons label {
  display: block;
  font-size: 8pt;
}

/* Comments */
.comment .karma_3_small {
  float: right;
  width: auto;
}
.comment .karma_3_small * {
  display: block;
  float: left;
}
.comment .karma_3_small form {
  line-height: 18px;
  vertical-align: middle;
}
.comment .karma_3_small .karma_score {
  width: 30px;
  padding-left: 5px;
  padding-right: 35px;
  height: 18px;
  line-height: 18px;
  margin-right: 2px;
  font-size: 9pt;
  text-align: center;
  background: url("img/comment_scorebg.gif") no-repeat top left;
  color: #fff;
  text-shadow: 0 -2px 0 rgba(0,0,0,0.5);
}
.comment .karma_3_small .karma_buttons {
  margin-top: 0;
  height: 18px;
  line-height: 18px;
}